* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#wrapper {
    margin: 5px auto;
    width: 970px;
}

/* navigation */
#navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    padding: 0 20px; 
}

.logo {
    height: 70px;
}

ul {
    display: flex;
    justify-content: space-between;
}

li {
    list-style-type: none;
}

a, a:hover, a:visited, a:link {
    color: white;
    padding: 0 10px;
    text-decoration: none;
}

/* title */
#title {
    background-color: lightgray;
    text-align: center;
    font-size: 32px;
    padding: 10px;
    border-bottom: 2px solid black;
}

/* actor banner */
#cast_banner {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: lightgray;
    padding: 20px;
}

.cast_info {
    border: 2px solid black;
    padding: 25px;
    width: 50%;
}

hr {
    margin: 20px 0;
}

.cast_img {
    height: 350px;
}

/* footer */
#footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    padding: 20px;
}

.footer_img {
    height: 120px; 
}

/* cookies */
#cookie_policy {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border: 3px solid black;
}

button {
    background-color: orange;
    margin-top: 15px;
    padding: 5px 7px;
    box-shadow: 3px 3px black;
}